openapi: 3.0.3
info:
  title: "emnify Rest API"
  description: "Rest API resources of the emnify System."
  version: "1.3"
servers:
  - url: "https://cdn.emnify.net"
    description: "emnify API"
security:
  - bearerAuth: []
paths:
  /api/v1/authenticate:
    post:
      tags:
        - Authentication
      operationId: Authenticate
      summary: Retrieve Authentication Token
      security: []
      description: |
        This entrypoint returns a JWT `auth_token` for authenticating further requests to the API.
      requestBody:
        required: true
        description: Authentication using Application Tokens or user/password combination
        content:
          application/json:
            examples:
              Application_Authentication:
                summary: Application Token Authentication
                value:
                  application_token: 5cCI6IkpXVCJ9..
              User_Authentication:
                summary: User/Password Authentication
                value:
                  username: user@service.org
                  password: 8Y8knYSkeyYV23kd
              Refresh_Authentication:
                summary: Refresh Authentication
                description: |
                  When a user logs in with username/password credentials, they receive a `refresh_token` in the response. It is possible to refresh an expired `auth_token` by sending this `refresh_token`.
                value:
                  refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              Verify_MFA_Code:
                summary: MFA Code Verification
                description: |
                  When a user logs in with their user/password credentials and MFA is enabled, this entrypoint returns an `mfa_token` instead of an `auth_token` and `refresh_token`.
                  In this example, the user sends the `mfa_token` and the one-time password back to the server with a device fingerprint in order to save a trusted device.
                  Subsequent user/password logins with a valid device fingerprint will skip the one-time password challenge.
                value:
                  mfa_token: zI1NiIsInR5cCI6IkpXV...
                  code: "123456"
                  fingerprint: zI1NiIsInR5cCI6IkpXV...
              User_Auth_with_MFA_Fingerprint:
                summary: User/Password Auth with Device Fingerprint
                description: |
                  The fingerprint sent with this call should match the fingerprint of an already-trusted device.
                  Trusted device fingerprints are added to the user account when verifying the one-time password during MFA authentication (seen in the 'MFA Code Verification' example).
                value:
                  username: user@service.org
                  password: 8Y8knYSkeyYV23kd
                  fingerprint: zI1NiIsInR5cCI6IkpXV
            schema:
              title: Authentication
              type: object
              properties:
                application_token:
                  type: string
                username:
                  type: string
                password:
                  type: string
                  format: password
                refresh_token:
                  type: string
                  format: string
      responses:
        "200":
          description: Successful Authentication Request
          content:
            application/json:
              examples:
                User_Authentication:
                  summary: User/Password Authentication Success
                  description: |
                    An `auth_token` and a `refresh_token` are returned.
                    When the auth token expires (240 minutes), the refresh token may be sent to this entrypoint
                    to retrieve a new auth token.
                  value:
                    auth_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                Application_Authentication:
                  summary: App Token Authentication Success
                  description: The successful response for Application Tokens returns an `auth_token` only.
                  value:
                    auth_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                User_Authentication_with_MFA_enabled:
                  summary: User Authentication with MFA enabled
                  description: If a user authenticates with MFA enabled and no trusted device.
                  value:
                    mfa_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
              schema:
                title: AuthenticationResponse
                type: object
                properties:
                  auth_token:
                    type: string
                  refresh_token:
                    type: string
        "401":
          description: Unauthorized
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
                example:
                  error_code: 1401
                  error_token: InvalidReference
                  message: Organisation with Id '1234' not found.
  /api/v1/user/mfa:
    post:
      tags:
        - Authentication
      operationId: postMfa
      summary: Create an MFA key
      description: |
        Generate and store a MFA key for the requesting user.
        The MFA key will have the status `activation pending` after this call and must be activated through a separate call (`/api/v1/user/mfa/{id}`).
        You must provide following fields with this request:

        * `type` (Object required)
          - id (Number)
        * `password` (String required) - User password


        The **MFA key** object returned by the server contains the following properties:

        * `id` (Integer) - The unique ID of this MFA key
        * `status` (Object) ID (Integer) - Id of status of this MFA key
          - `description` (String) - description of the status
        * `type` (Object) ID (Integer) - Id of type of this MFA key
          - `description` (String) - description of the type
        * `secret_key` (String) - Secret key (encoded in Base32) for this MFA key, will be displayed only on creation
        * `otpauth` (String) - Secret key as a URI encoded for QR codes, will be displayed only on creation
        * `creation_date` (Timestamp) - Timestamp when this MFA key was created - type: ISO 8601 timestamp format
        * `activation_date` (Timestamp) - Timestamp when this MFA key was activated - type: ISO 8601 timestamp format
      requestBody:
        content:
          application/json:
            schema:
              required:
                - type
                - password
              type: object
              properties:
                type:
                  type: object
                password:
                  type: string
            example:
              type:
                id: 0
              password: 2f2f2f2f2f2f2f2f2f2f2f2f
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                title: Create MFA Key Response
                type: object
                properties:
                  id:
                    type: number
                  status:
                    type: object
                    properties:
                      id:
                        type: number
                      description:
                        type: string
                  type:
                    type: object
                    properties:
                      id:
                        type: number
                      description:
                        type: string
                  secret_key:
                    type: string
                  otpauth:
                    type: string
                  creation_date:
                    type: string
              example:
                id: 44
                status:
                  id: 0
                  description: Activation Pending
                type:
                  id: 0
                  description: Time-Based One-Time Password
                secret_key: YZP7UN4EMN6LK2UYYDCTBNH4ZVXVEJ7C
                otpauth: "otpauth://totp/org:user@org.com?secret=YZP7UN4EMN6LK2UYYDCTBNH4ZVXVEJ7C&issuer=myorg&digits=6&period=30"
                creation_date: "2020-02-03T14:04:03.000Z"
        "409":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1405
                error_token: Duplicated
                message: MFA already activated
        "422":
          description: Unprocessable Entity. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: ChangePassword422Error
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                    description: ""
                example:
                  error_code: 1002
                  error_token: Failed
                  message: Invalid old password
                  errors:
                    - error_code: 1400
                      error_token: InputValidationFailed
                      message: Wrong Password for User 'own_username'
              example:
                error_code: 1400
                error_token: InputValidationFailed
                message: "MFA key validation error: Code did not match!"
  "/api/v1/user/mfa/{key_id}":
    patch:
      tags:
        - Authentication
      summary: Activate MFA key
      description: |
        Activate the MFA key of the requesting user.

        You must provide following JSON fields in this request:

        * `status` (Object required)
          - `id` (Number) use 1 for "ACTIVE" status

        * `code` (String required)  - the 6-digit "time-based one-time password" (TOTP) generated with this MFA key for the current Time-Step
      operationId: UserMfaByIdPatch
      parameters:
        - name: key_id
          in: path
          description: Key ID
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              title: Activate MFA Key Request
              type: object
              properties:
                status:
                  type: object
                  properties:
                    id:
                      type: number
                    code:
                      type: number
            example:
              value:
                status:
                  id: 1
                code: 123456
        required: true
      responses:
        "204":
          description: The server has successfully fulfilled the request and that there is no additional content to send in the response payload body
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1401
                error_token: InvalidReference
                message: MFA Key with Id '27' not found.
        "409":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1405
                error_token: Duplicated
                message: MFA already activated
        "422":
          description: Unprocessable Entity. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1400
                error_token: InputValidationFailed
                message: "MFA key validation error: Code did not match!"
  "/api/v1/user/{user_id}/mfa/{key_id}":
    delete:
      tags:
        - Authentication
      summary: Delete an MFA key
      description: |
        Delete an MFA key for a given user.

        An own MFA key can also be deleted with a call to `/api/v1/user/my/mfa/{key_id}`
      operationId: UserMfaByUserIdAndKeyIdDelete
      parameters:
        - name: key_id
          in: path
          required: true
          description: Key ID
          schema:
            type: number
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: number
      responses:
        "204":
          description: The server has successfully fulfilled the request and that there is no additional content to send in the response payload body
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1401
                error_token: InvalidReference
                message: MFA Key with id '1234' not found
  /api/v1/user/mfa/status:
    get:
      tags:
        - Authentication
      summary: List MFA key Statuses
      description: Retrieve a list of possible MFA Key statuses.
      operationId: UserMfaStatusGet
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  title: MFAKeyStatusLookupresponse
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      example: 0
                    description:
                      type: string
                      example: Activation Pending
                  example:
                    id: 0
                    description: Activation Pending
              example:
                - id: 0
                  description: Activation Pending
                - id: 1
                  description: Active
  /api/v1/user/mfa/type:
    get:
      tags:
        - Authentication
      summary: List MFA key types
      description: Retrieve a list of possible MFA Key types.
      operationId: UserMfaTypeGet
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  title: MFAKeyTypeLookupresponse
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      example: 0
                    description:
                      type: string
                      example: Time-Based One-Time Password
                  example:
                    id: 0
                    description: Time-Based One-Time Password
              example:
                - id: 0
                  description: Time-Based One-Time Password
  "/api/v1/user/{user_id}/mfa/trusted_device":
    get:
      tags:
        - Authentication
      summary: List Trusted Devices
      description: |
        Returns the list of trusted devices for a given user.

        The list of one's own trusted devices can also be retrieved with a call to either
        `/api/v1/user/my/mfa/trusted_device` or `/api/v1/user/mfa/trusted_device`
      operationId: UserMfaTrustedDeviceByUserIdGet
      parameters:
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Listoftrusteddevicesresponse
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                      example: 16
                    operating_system:
                      type: string
                      example: Ubuntu 16.04.2 LTS (Xenial)
                    browser:
                      type: string
                      example: Mozilla Firefox
                    activation_date:
                      type: string
                      example: "2020-02-20T10:00:00.000Z"
                  example:
                    id: 16
                    operating_system: Ubuntu 16.04.2 LTS (Xenial)
                    browser: Mozilla Firefox
                    activation_date: "2019-03-01T16:04:20.000Z"
              example:
                - id: 16
                  operating_system: Ubuntu 16.04.2 LTS (Xenial)
                  browser: Mozilla Firefox
                  activation_date: "2019-03-01T16:04:20.000Z"
                - id: 71
                  operating_system: Android 7.1 Nougat
                  browser: Dolphin
                  activation_date: "2019-10-04T07:01:01.000Z"
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1401
                error_token: InvalidReference
                message: User with Id '1234' not found.
  "/api/v1/user/{user_id}/mfa/trusted_device/{device_id}":
    delete:
      tags:
        - Authentication
      summary: Delete a Trusted Device
      description: |
        Deletes a trusted device.

        Removing one's own trusted device can also be performed at either `/api/v1/user/my/mfa/trusted_device/{id}` or `/api/v1/user/mfa/trusted_device/{id}`
      operationId: UserMfaTrustedDeviceByUserIdAndDeviceIdDelete
      parameters:
        - name: user_id
          in: path
          required: true
          description: User ID
          schema:
            type: number
        - name: device_id
          in: path
          description: Device ID
          required: true
          schema:
            type: number
      responses:
        "204":
          description: The server has successfully fulfilled the request and that there is no additional content to send in the response payload body
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1401
                error_token: InvalidReference
                message: Trusted Device with Id '9999' not found
  /api/v1/endpoint:
    get:
      tags:
        - Endpoint
      summary: List Endpoints
      description: "Returns the list of endpoints, filtered, sorted and paged according to query parameters."
      operationId: GetEndpoints
      parameters:
        - in: query
          name: q
          description: |
            Filter parameter in `<filter>:<value>` format. Expects comma separated list of filtering criteria out of the following fields:

            * `status`
            * `service_profile`
            * `tariff_profile`
            * `id`
            * `name`
            * `created`
            * `last_updated`
            * `tags`
            * `ip_address`
            * `imei`
            * `iccid`
            * `sim_status`
          required: false
          schema:
            type: string
            pattern: '(status|service_profile|tariff_profile|last_updated|created|name|tags|ip_address|imei)\:.+'
          examples:
            nofiltering:
              summary: No filter applied
              value: ""
            filterbytag:
              summary: Filter by 'Monitoring' tag
              value: "tags:arduino"
            multiplefilters:
              summary: Filter by status and tag
              value: "status:0,tags:rpi"
        - in: query
          name: sort
          description: |
            Sort properties in a comma separated list from the following fields:

            * `id`
            * `name`
            * `status`
            * `last_updated`
            * `created`
            * `tags`
            * `ip_address`
            * `imei`
            * `service_profile`
            * `tariff_profile`
          required: false
          schema:
            type: string
            pattern: "(^-?(status|service_profile|tariff_profile|last_updated|created|name|tags|ip_address|imei)),?"
          examples:
            nosorting:
              summary: No sort applied
              value: ""
            sortbyID:
              summary: sort ascending by status
              value: status
            statusandid:
              summary: Sort by status and ID
              description: The minus operator sorts by status descending and then sorting is applied by id ascending
              value: "-status,id"
        - in: query
          name: page
          description: Current page number
          schema:
            type: integer
            format: int32
        - in: query
          name: per_page
          description: Paging parameters defining the number of items per page
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Successfully returned a list of Endpoints.
          headers:
            Link:
              schema:
                type: string
              description: "URLs for navigational links used to retrieve first, previous, next and last page in a dataset"
            X-Count-Per-Page:
              schema:
                type: integer
                format: int32
              description: The requested `per_page` parameter
            X-Current-Page:
              schema:
                type: integer
                format: int32
              description: The current page number within the current data set
            X-Total-Count:
              schema:
                type: integer
                format: int32
              description: The total element count in the current data set
            X-Total-Pages:
              schema:
                type: integer
                format: int32
              description: The total page count in the current data set
            X-Filter:
              schema:
                type: string
              description: "If filtering is applied using `?q=field:criteria` URL query parameters, the filter criteria is returned here"
            X-Sort:
              schema:
                type: string
              description: "If sorting is applied using `?sort=sort_criteria` URL query parameters, the sort criteria is returned here"
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Endpoint
                  required:
                    - name
                    - status
                    - service_profile
                    - tariff_profile
                  type: object
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
                    tags:
                      type: string
                    created:
                      type: string
                      format: date-time
                    last_updated:
                      type: string
                      format: date-time
                    status:
                      title: Status
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                          format: int32
                        description:
                          type: string
                    service_profile:
                      title: ServiceProfile
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                    tariff_profile:
                      title: TariffProfile
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                          format: int32
                        name:
                          type: string
                    ip_address:
                      type: string
                    ip_address_space:
                      title: HasId
                      type: object
                      properties:
                        id:
                          type: integer
                      example:
                        id: 23211
                    sim:
                      title: Sim
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                          format: int32
                        iccid:
                          type: string
                        msisdn:
                          type: string
                        imsi:
                          type: string
                        status:
                          title: Status
                          type: object
                          required:
                            - id
                          properties:
                            id:
                              type: integer
                              format: int32
                            description:
                              type: string
                    imei:
                      type: string
                    imei_lock:
                      type: boolean
                    runtime_data:
                      title: Endpoint Runtime Data
                      type: object
                      properties:
                        msc:
                          type: string
                        sgsn:
                          type: string
                        sgsn_ip_address:
                          type: string
              example:
                - id: 1
                  name: arduino01
                  tags: "arduino, meter, temp"
                  created: "1970-01-01T00:00:00.000+0000"
                  last_updated: "1970-01-01T00:00:00.000+0000"
                  status:
                    id: 1
                    description: Disabled
                  service_profile:
                    id: 1
                    name: Smart Meter
                  tariff_profile:
                    id: 3
                    name: Domestic only
                  sim:
                    id: 788
                    iccid: "736826736473829773621"
                    imsi: "901991234567890"
                    msisdn: "88563748761"
                    status:
                      id: 2
                      description: Suspended
                  imei: 864345678889321
                  imei_lock: true
                  ip_address: 10.203.23.75
                  ip_address_space:
                    id: 2
                - id: 2
                  name: arduino02
                  tags: "arduino, meter, temp"
                  created: "1970-01-01T00:00:00.000+0000"
                  status:
                    id: 1
                    description: Disabled
                  service_profile:
                    id: 1
                    name: Smart Meter
                  tariff_profile:
                    id: 3
                    name: Domestic only
                  sim:
                    id: 789
                    iccid: "736826736473829773622"
                    imsi: "901991234567891"
                    msisdn: "88563748762"
                    status:
                      id: 2
                      description: Suspended
                  imei: 864345678897829
                  imei_lock: false
                  ip_address: 10.203.23.76
                  ip_address_space:
                    id: 2
    post:
      tags:
        - Endpoint
      summary: Create Endpoint
      description: |
        If a `sim` object is provided, the SIM with the contained ID will be assigned to the endpoint.
        The `activate` property defaults to `true` and can be omitted unless the SIM should not be activated with this API call.

        The following fields may be provided:
        * `name` (String required)
        * `service_profile` (Object required)
        * `tariff_profile` (Object required)
        * `status` (Object required) - `0` = __Enabled__, `1` = __Disabled__!
        * `tags` (String optional)
        * `imei` (String optional)
        * `imei_lock` (Boolean optional)
        * `sim` (Object optional)
          - `id` (number required) SIM ID to be assigned to this endpoint
          - `activate` (Boolean, optional, default:true)
        * `ip_address` (String optional)
        * `ip_address_space` (Object, optional if IP address is omitted, mandatory when IP address is set)
      operationId: CreateEndpoint
      requestBody:
        content:
          application/json:
            schema:
              title: Endpoint
              required:
                - name
                - status
                - service_profile
                - tariff_profile
              type: object
              properties:
                id:
                  type: integer
                  format: int32
                name:
                  type: string
                tags:
                  type: string
                created:
                  type: string
                  format: date-time
                last_updated:
                  type: string
                  format: date-time
                status:
                  title: Status
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    description:
                      type: string
                service_profile:
                  title: ServiceProfile
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
                tariff_profile:
                  title: TariffProfile
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
                ip_address:
                  type: string
                ip_address_space:
                  title: HasId
                  type: object
                  properties:
                    id:
                      type: integer
                  example:
                    id: 23211
                sim:
                  title: Sim
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    iccid:
                      type: string
                    msisdn:
                      type: string
                    imsi:
                      type: string
                    status:
                      title: Status
                      type: object
                      required:
                        - id
                      properties:
                        id:
                          type: integer
                          format: int32
                        description:
                          type: string
                imei:
                  type: string
                imei_lock:
                  type: boolean
                runtime_data:
                  title: Endpoint Runtime Data
                  type: object
                  properties:
                    msc:
                      type: string
                    sgsn:
                      type: string
                    sgsn_ip_address:
                      type: string
            examples:
              CreateBasicEndpoint:
                summary: Create Endpoint
                description: |
                  Creates an endpoint with only mandatory fields provided.
                  For a list of tariff profiles, see `/api/v1/tariff_profile`.
                  For a list of service profiles, see `/api/v1/service_profile`.
                value:
                  name: example-endpoint
                  status:
                    id: 0
                  service_profile:
                    id: 1234
                  tariff_profile:
                    id: 5678
              CreateEndpointWithOptions:
                summary: Endpoint with optional fields
                description: |
                  Create an endpoint with a status of 0 (Enabled).
                  The *IMEI lock* feature is enabled for a device with the provided IMEI value.
                  Tags are used for improving search and grouping related devices.
                  A SIM ID is provided and the SIM with this ID will be assigned to the endpoint,
                  the default value for `activate` (`true`) within the SIM object is desired and so this property can be omitted.
                value:
                  name: example-meter
                  tags: "arduino, meter, EU"
                  imei: "8664250350704510"
                  imei_lock: true
                  status:
                    id: 0
                  service_profile:
                    id: 1234
                  tariff_profile:
                    id: 5678
                  sim:
                    id: 123
        required: true
      responses:
        "201":
          description: Endpoint successfully created
          headers:
            Location:
              description: URI of newly created endpoint including its ID.
              schema:
                type: string
                example: /api/v1/endpoint/123
        "404":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1601
                error_token: Unavailable
                message: No IP Address available.
        "409":
          description: Unexpected error in API call. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: 40x Response
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
              example:
                error_code: 1405
                error_token: Duplicated
                message: "IP Address - fd:0:0:0:0:0:0:1 already assigned."
        "422":
          description: Unprocessable Entity. See HTTP response body for details.
          content:
            application/json:
              schema:
                title: ChangePassword422Error
                type: object
                properties:
                  error_code:
                    type: integer
                    format: int32
                  error_token:
                    type: string
                  message:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                    description: ""
                example:
                  error_code: 1002
                  error_token: Failed
                  message: Invalid old password
                  errors:
                    - error_code: 1400
                      error_token: InputValidationFailed
                      message: Wrong Password for User 'own_username'
              example:
                error_code: 1400
                error_token: InputValidationFailed
                message: InputValidationFailed
                errors:
                  - error_code: 1404
                    error_token: OutOfRange
                    message: Endpoint - IP Address out of range.
  /api/v2/endpoint: {}
  "/api/v2/endpoint/{endpoint_id}": {}
  /api/v2/endpoint/connectivity: {}
  /api/v1/endpoint/status:
    get:
      tags:
        - Endpoint
      summary: List Endpoint Statuses
      description: Returns a list of available Endpoint Statuses
      operationId: EndpointStatusGet
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  title: Status
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    description:
                      type: string
              example:
                - id: 0
                  description: Enabled
                - id: 1
                  description: Disabled
                - id: 2
                  description: Deleted
  "/api/v1/endpoint/{endpoint_id}":
    parameters:
      - name: endpoint_id
        in: path
        required: true
        description: The numeric ID of an Endpoint
        schema:
          type: integer
          format: int32
    get:
      tags:
        - Endpoint
      summary: Get Endpoint
      description: Retrieves information on an endpoint with a given id.
      operationId: EndpointByIdGet
      responses:
        "200":
          description: Model description
          content:
            application/json:
              schema:
                title: Endpoint
                required:
                  - name
                  - status
                  - service_profile
                  - tariff_profile
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  name:
                    type: string
                  tags:
                    type: string
                  created:
                    type: string
                    format: date-time
                  last_updated:
                    type: string
                    format: date-time
                  status:
                    title: Status
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        format: int32
                      description:
                        type: string
                  service_profile:
                    title: ServiceProfile
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        format: int32
                      name:
                        type: string
                  tariff_profile:
                    title: TariffProfile
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        format: int32
                      name:
                        type: string
                  ip_address:
                    type: string
                  ip_address_space:
                    title: HasId
                    type: object
                    properties:
                      id:
                        type: integer
                    example:
                      id: 23211
                  sim:
                    title: Sim
                    type: object
                    required:
                      - id
                    properties:
                      id:
                        type: integer
                        format: int32
                      iccid:
                        type: string
                      msisdn:
                        type: string
                      imsi:
                        type: string
                      status:
                        title: Status
                        type: object
                        required:
                          - id
                        properties:
                          id:
                            type: integer
                            format: int32
                          description:
                            type: string
                  imei:
                    type: string
                  imei_lock:
                    type: boolean
                  runtime_data:
                    title: Endpoint Runtime Data
                    type: object
                    properties:
                      msc:
                        type: string
                      sgsn:
                        type: string
                      sgsn_ip_address:
                        type: string
    delete:
      tags:
        - Endpoint
      summary: Delete Endpoint
      description: |
        Deletes an endpoint and all its child entities.
        Please ensure the endpoint does not have a SIM assigned, otherwise the deletion will fail.
      operationId: EndpointByIdDelete
      responses:
        "204":
          description: The server has successfully fulfilled the request and that there is no additional content to send in the response payload body
        "404":
          description: The endpoint could not be found
        "409":
          description: The endpoint is still referenced (e.g. has a SIM attached)
    patch:
      tags:
        - Endpoint
      summary: Update Endpoint
      description: |
        Updates the details of an endpoint.

        You can provide following fields with this request:
        * `name` (String, optional)
        * `tags` (String, optional)
        * `status` (Object, optional)
        * `service profile` (Object, optional)
        * `tariff profile` (Object, optional)
        * `ip_address` (String, optional)
        * `ip_address_space` (Object optional if IP address is missing, mandatory when IP address is set)
        * `sim` (Object, optional)
        * `imei` (String, optional)
        * `imei_lock` (Boolean, optional)
      operationId: EndpointByIdPatch
      requestBody:
        content:
          application/json:
            schema:
              title: UpdateEndpoint
              type: object
              properties:
                tags:
                  type: string
                status:
                  title: Status
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    description:
                      type: string
                service_profile:
                  title: ServiceProfile
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
                tariff_profile:
                  title: TariffProfile
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: integer
                      format: int32
                    name:
                      type: string
                ip_address:
                  type: string
                ip_address_space:
                  title: HasId
                  type: object
                  properties:
                    id:
                      type: integer
                  example:
                    id: 23211
                sim:
                  title: HasId
                  type: object
                  properties:
                    id:
                      type: integer
                  example:
                    id: 23211
                imei:
                  type: string
                imei_lock:
                  type: boolean
              example:
                tags: "tag1, tag2, tag3"
                status:
                  id: 1
                service_profile:
                  id: 1
                tariff_profile:
                  id: 1
                ip_address: 127.0.0.1
                ip_address_space:
                  id: 2
                sim:
                  id: 1
                imei: 123456789112345
                imei_lock: true
        required: true
      responses:
        "204":
          description: The server has successfully fulfilled the request and that there is no additional content to send in the response payload body
  "/api/v1/endpoint/{endpoint_id}/connectivity":
    parameters:
      - name: endpoint_id
        in: path
        required: true
        description: The numeric ID of an Endpoint
        schema:
          type: integer
          format: int32
    get:
      tags:
        - Endpoint
      summary: Endpoint Connectivity Status
      description: |
        Retrieve details about current connectivity status of endpoint.
        The following is a list of possible statuses:

        * `ATTACHED`:
        The Endpoint has succesfully attached to the Home Core network in the past.
        The device will be shown as `ATTACHED` until the visited network has signaled that the device is inactive/offline.
        Usually the visited network informs the Core Network within 1-2 days after a device went offline.

        * `ONLINE`:
        The Endpoint has an active data connection

        * `OFFLINE`:
        The Endpoint has not attached to the core network yet or the device was previously attached but the visited network signaled that the device had no activity for the last 1-2 days.
        Note: The device is not reachable for external services (e.g. SMS, MSRN lookup).

        * `BLOCKED`:
        The device is not granted service. Endpoints are assigned this status when they have exceeded traffic limits.
      operationId: EndpointConnectivityByIdGet
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                title: RetrieveEndpointConnectivityStatusresponse
                type: object
                properties:
                  status:
                    type: object
                  location:
                    type: object
                  pdp_context:
                    type: object
                  services:
                    type: array
                    items:
                      type: string
                    description: ""
                example:
                  status:
                    description: ONLINE
                  location:
                    iccid: 8988303010000000000
                    imsi: 901439999999999
                    last_updated: "2019-12-03T07:06:04.000Z"
                    last_updated_gprs: "2019-12-30T14:55:35.000Z"
                    sgsn_number: 491770695700
                    vlr_number: 491770940000
                    msc: 491770940000
                    operator:
                      id: 4
                      name: EPlus
                      country:
                        id: 74
                        name: Germany
                    country:
                      country_id: 74
                      name: Germany
                      country_code: 49
                      mcc: 262
                      iso_code: de
                    sgsn_ip_address: 212.23.107.88
                  pdp_context:
                    pdp_context_id: 92415
                    endpoint_id: 166
                    tariff_profile_id: 35
                    tariff_id: 54
                    ratezone_id: 70
                    organisation_id: 2
                    imsi_id: 627
                    imsi: 901439999999999
                    sim_id: 625
                    teid_data_plane: 7116
                    teid_control_plane: 7116
                    gtp_version: 1
                    nsapi: 5
                    sgsn_control_plane_ip_address: 212.23.107.89
                    sgsn_data_plane_ip_address: 212.23.107.89
                    ggsn_control_plane_ip_address: 185.57.216.35
                    ggsn_data_plane_ip_address: 185.57.216.35
                    created: "2019-12-04T08:12:02.000Z"
                    mcc: 262
                    mnc: 3
                    operator_id: 4
                    lac: 40217
                    ci: null
                    sac: 42937
                    rac: null
                    ue_ip_address: 10.199.5.223
                    imeisv: 3526510721968301
                    rat_type:
                      rat_type_id: 1
                      description: 3G
                    duration: "00:00:04"
                  services:
                    - GPRS
    patch:
      tags:
        - Endpoint
      summary: Reset Endpoint Connectivity
      description: |
        Dispatch a message that causes either a `Cancel Location` or `Delete PDP Context` or both sent to the endpoint.
        The return of the call does not yet mean the event has been sent towards the device.

        Master organisation types can reset any endpoints inside their organisation hierarchy, enterprises may
        only reset connectivity of own endpoints.
      operationId: UpdateEndpointConnectivityById
      requestBody:
        content:
          application/json:
            schema:
              title: UpdateEndpointConnectivityByIdRequest
              type: object
              properties:
                pdp_context:
                  nullable: true
                location:
                  nullable: true
            examples:
              ResetNetwork:
                value:
                  location: null
              ResetData:
                value:
                  pdp_context: null
      responses:
        "204":
          description: "Successful, no content."
        "403":
          description: Calling organisation is not of correct type.
        "404":
          description: Endpoint not found.
  "/api/v1/endpoint/{endpoint_id}/event":
    parameters:
      - name: endpoint_id
        in: path
        required: true
        description: The numeric ID of an Endpoint
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        schema:
          type: integer
          format: int32
      - in: query
        name: per_page
        description: Paging parameters defining the number of items per page
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        description: |
          Sort properties according to a comma separated list of accepted fields. Valid fields are:

          * `id` - (**event id**)
          * `timestamp` - (**event timestamp**)
          * `source` - (**event source**)
          * `severity` - (**event severity**)
          * `alert` - (**alert status**)
          * `organisation` - (**organisation name**)
          * `user` - (**user id**)
          * `endpoint` - (**endpoint name**)
          * `tags` - (**endpoint tags**)
          * `ip_address` - (**endpoint ip_address**)
          * `iccid` - (**sim iccid**)
          * `imsi` - (**sim imsi**)
          * `type` - (**event type**)
        schema:
          type: string
        examples:
          nosorting:
            summary: Default
            description: The default sort is by ID ascending
            value: ""
          timestampandid:
            summary: Sort by timestamp and ID
            description: The minus operator sorts by timestamp descending and then sorting is applied by id ascending
            value: "-timestamp,id"
      - name: q
        in: query
        description: |
          Filter parameter in `<filter>:<value>` format.
          Multiple filters must be in the format of a comma separated list of the following fields:

          * `type` (**event_type**, numerical)
          * `source` (**event_type**, numerical, e.g. 0 = Network), 1 = Policy Control, 2 = API)
          * `severity` (**event_severity**, numerical, e.g. 0 = Info, 1 = Warn), 2 = Critical)
          * `alert` (boolean, e.g. true, false)
          * `description` (**event description**, string)
          * `organisation` (**organisation name**, string)
          * `user` (**user name**, string)
          * `endpoint` (**endpoint name**, string)
          * `tags` (**endpoint tags**, string)
          * `ip_address` (**endpoint IP address**, valid IPv4/IPv6 address)
          * `imei` (**endpoint imei**, numerical string)
          * `iccid` (**sim iccid**, numerical string)
          * `imsi` (**sim imsi**, numerical string)
          * `from` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, __only valid with until!__)
          * `until` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, __only valid with from!__)
          * `timestamp` (**date**, format `YYYY-MM-DDTHH:mm:ssZ`, for querying events of 1 day, deprecated in future)
        schema:
          type: string
          pattern: '(type|source|severity|alert|description|organisation|user|endpoint|tags|ip_address|iccid|imsi|timestamp|from|until)\:.+'
        examples:
          nofiltering:
            summary: No filter applied
            value: ""
          timerange:
            summary: Time range
            value: "from:2020-07-20T08:00:00Z,until:2020-07-21T08:00:00Z"
          timerangeevent:
            summary: Time range and event type
            value: "type:3,from:2020-07-20T08:00:00Z,until:2020-07-21T08:00:00Z"
          iccidfilter:
            summary: By ICCID
            description: "exact match if size of search string is bigger than 19, else startsWith"
            value: "iccid:1234567890123456789"
          multiplefilters:
            summary: Tag and organisation
            value: "tags:tag1,organisation:123"
          showpdpcreatesonly:
            summary: Filter Create PDP Context events only
            value: "type:3"
    get:
      tags:
        - Endpoint
      summary: List Endpoint events
      description: |
        Returns the list of events, filtered, sorted and paged according to query parameters.

        **Note:** A full list of events is found in section "Retrieve Event Types" (`/api/v1/event/type`).

        **CAUTION**
        This API endpoint deviates from the specified conventions
        and may not return the same HTTP Codes as the higher layer call (`/api/v1/endpoint/{endpoint_id}`).
        In case the requested `{endpoint_id}` does not exist or is not accessible for the user, **HTTP 200** will be returned with empty **[]**
        as long as the provided `{endpoint_id}` is a number and all parameters are valid.
        Please take that into consideration when building automation on top of the error behaviour of this endpoint.
      operationId: EndpointEventsByID
      responses:
        "200":
          description: Successfully returned a list of events
          headers:
            link:
              schema:
                type: string
              description: "URLs for navigational links used to retrieve first, previous, next and last page in a dataset"
            x-count-per-page:
              schema:
                type: integer
              description: The requested `per_page` parameter
            x-current-page:
              schema:
                type: integer
              description: The current page number within the current data set
            x-total-count:
              schema:
                type: integer
              description: The total element count in the current data set
            x-total-pages:
              schema:
                type: integer
              description: The total page count in the current data set
            x-filter:
              schema:
                type: string
              description: "If filtering is applied using `?q=field:criteria` URL query parameters, the filter criteria is returned here"
            x-sort:
              schema:
                type: string
              description: "If sorting is applied using `?sort=sort_criteria` URL query parameters, the sort criteria is returned here"
          content:
            application/json:
              schema:
                title: RetrieveEventsresponse
                type: object
                properties:
                  timestamp:
                    type: string
                    example: "2020-03-01T12:07:09.000Z"
                  alert:
                    type: boolean
                    example: true
                  description:
                    type: string
                    example: PDP Context deleted.
                  id:
                    type: integer
                    format: int32
                    example: 69535
                  event_type:
                    type: object
                    example:
                      description: Delete PDP Context
                      id: 4
                  event_source:
                    type: object
                    example:
                      name: Network
                      id: 0
                  event_severity:
                    type: object
                    example:
                      description: INFO
                      id: 0
                  organisation:
                    type: object
                    example:
                      name: Organisation_Name
                      id: 2
                  endpoint:
                    type: object
                    example:
                      name: Monitoring201
                      tags: Monitoring
                      ip_address: 10.199.6.39
                      imei: null
                      id: 1
                  sim:
                    type: object
                    example:
                      iccid: 8988317000000000000
                      production_date: "2019-12-17T13:26:13.000Z"
                      id: 110
                  imsi:
                    type: object
                    example:
                      imsi: 901430000000114
                      import_date: "2019-12-17T13:26:08.000Z"
                      id: 110
                example:
                  timestamp: "2020-03-01T12:07:09.000Z"
                  alert: true
                  description: PDP Context deleted.
                  id: 69535
                  event_type:
                    description: Delete PDP Context
                    id: 4
                  event_source:
                    name: Network
                    id: 0
                  event_severity:
                    description: INFO
                    id: 0
                  organisation:
                    name: Organisation_Name
                    id: 2
                  endpoint:
                    name: Monitoring201
                    tags: Monitoring
                    ip_address: 10.199.6.39
                    imei: null
                    id: 1
                  sim:
                    iccid: 8988317000000000000
                    production_date: "2019-12-17T13:26:13.000Z"
                    id: 110
                  imsi:
                    imsi: 901430000000114
                    import_date: "2019-12-17T13:26:08.000Z"
                    id: 110
              example:
                - timestamp: "2019-07-16T12:07:09.000Z"
                  alert: true
                  description: PDP Context deleted.
                  id: 69535
                  event_type:
                    description: Delete PDP Context
                    id: 4
                  event_source:
                    name: Network
                    id: 0
                  event_severity:
                    description: INFO
                    id: 0
                  organisation:
                    name: Organisation_Name
                    id: 2
                  endpoint:
                    name: Monitoring201
                    tags: Monitoring
                    ip_address: 10.199.6.39
                    imei: null
                    id: 1
                  sim:
                    iccid: "8988317000000000100"
                    production_date: "2018-12-17T13:26:13.000Z"
                    id: 110
                  imsi:
                    imsi: 901430000000114
                    import_date: "2018-12-17T13:26:08.000Z"
                    id: 110
        "400":
          description: |
            **Bad Request** due to incorrect **Paging** Parameters, **Sorting** Parameter or incorrect `{endpoint_id}`
        "422":
          description: |
            **Unprocessable Entity** due to incorrect **Query** parameters
  "/api/v1/endpoint/{endpoint_id}/stats":
    parameters:
      - name: endpoint_id
        in: path
        required: true
        description: The numeric ID of an Endpoint
        schema:
          type: integer
          format: int32
    get:
      tags:
        - Endpoint
      summary: Endpoint Usage and Costs Statistics
      description: |
        Retrieve usage and costs statistics for current/last month/hour.
        Data traffic costs can only be retrieved for organisations without inclusive volume.
      operationId: EndpointStatsByIdGet
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                title: RetrieveEndpointStatisticsresponse
                type: object
                properties:
                  last_month:
                    type: object
                  current_month:
                    type: object
                  last_hour:
                    type: object
                example:
                  last_month:
                    data:
                      endpoint_id: 166
                      month: "2020-11-01T00:00:00.000Z"
                      volume: "29.166235"
                      volume_tx: "5.577229"
                      volume_rx: "23.589006"
                      traffic_type_id: 5
                      last_updated: "2020-11-30T14:56:25.000Z"
                      cost: 6.10483935
                      currency_id: 1
                      id: 311
                      traffic_type:
                        description: Data
                        unit: MB
                        id: 5
                      currency:
                        code: EUR
                        symbol: €
                        id: 1
                    sms:
                      endpoint_id: 166
                      month: "2019-11-01T00:00:00.000Z"
                      volume: "51.000000"
                      volume_tx: "36.000000"
                      volume_rx: "15.000000"
                      traffic_type_id: 6
                      last_updated: "2019-11-26T10:52:42.000Z"
                      cost: 3.32
                      currency_id: 1
                      id: 312
                      traffic_type:
                        description: SMS
                        unit: SMS
                        id: 6
                      currency:
                        code: EUR
                        symbol: €
                        id: 1
                  current_month:
                    data:
                      endpoint_id: 166
                      month: "2020-03-01T00:00:00.000Z"
                      volume: "0.848157"
                      volume_tx: "0.172846"
                      volume_rx: "0.675311"
                      traffic_type_id: 5
                      last_updated: "2020-03-01T15:12:53.000Z"
                      cost: 0.21203925
                      currency_id: 1
                      id: 435
                      traffic_type:
                        description: Data
                        unit: MB
                        id: 5
                      currency:
                        code: EUR
                        symbol: €
                        id: 1
                    sms:
                      endpoint_id: 166
                      month: "2020-03-01T00:00:00.000Z"
                      volume: "3.000000"
                      volume_tx: "2.000000"
                      volume_rx: "1.000000"
                      traffic_type_id: 6
                      last_updated: "2020-03-01T14:20:42.000Z"
                      cost: 0.17
                      currency_id: 1
                      id: 439
                      traffic_type:
                        description: SMS
                        unit: SMS
                        id: 6
                      currency:
                        code: EUR
                        symbol: €
                        id: 1
                  last_hour:
                    data:
                      rx:
                        - - "06:38"
                          - 0
                        - - "06:39"
                          - 0
                        - - "06:40"
                          - 0
                        - - "06:41"
                          - 0
                        - - "06:42"
                          - 0
                        - - "06:43"
                          - 0
                        - - "06:44"
                          - 0
                        - - "06:45"
                          - 0
                        - - "06:46"
                          - 0
                        - - "06:47"
                          - 0
                        - - "06:48"
                          - 0
                        - - "06:49"
                          - 0
                        - - "06:50"
                          - 0
                        - - "06:51"
                          - 0
                        - - "06:52"
                          - 0
                        - - "06:53"
                          - 0
                        - - "06:54"
                          - 0
                        - - "06:55"
                          - 0
                        - - "06:56"
                          - 0
                        - - "06:57"
                          - 0
                        - - "06:58"
                          - 0
                        - - "06:59"
                          - 0
                        - - "07:00"
                          - 0
                        - - "07:01"
                          - 0
                        - - "07:02"
                          - 0
                        - - "07:03"
                          - 0
                        - - "07:04"
                          - 0
                        - - "07:05"
                          - 0
                        - - "07:06"
                          - 0
                        - - "07:07"
                          - 0
                        - - "07:08"
                          - 0
                        - - "07:09"
                          - 0
                        - - "07:10"
                          - 0
                        - - "07:11"
                          - 0
                        - - "07:12"
                          - 0
                        - - "07:13"
                          - 0
                        - - "07:14"
                          - 0
                        - - "07:15"
                          - 0
                        - - "07:16"
                          - 0
                        - - "07:17"
                          - 0
                        - - "07:18"
                          - 0
                        - - "07:19"
                          - 0
                        - - "07:20"
                          - 0
                        - - "07:21"
                          - 0
                        - - "07:22"
                          - 0
                        - - "07:23"
                          - 0
                        - - "07:24"
                          - 0
                        - - "07:25"
                          - 0
                        - - "07:26"
                          - 0
                        - - "07:27"
                          - 0
                        - - "07:28"
                          - 0
                        - - "07:29"
                          - 0
                        - - "07:30"
                          - 0
                        - - "07:31"
                          - 0
                        - - "07:32"
                          - 0
                        - - "07:33"
                          - 0
                        - - "07:34"
                          - 0
                        - - "07:35"
                          - 0
                        - - "07:36"
                          - 0
                      tx:
                        - - "06:38"
                          - 0
                        - - "06:39"
                          - 0
                        - - "06:40"
                          - 0
                        - - "06:41"
                          - 0
                        - - "06:42"
                          - 0
                        - - "06:43"
                          - 0
                        - - "06:44"
                          - 0
                        - - "06:45"
                          - 0
                        - - "06:46"
                          - 0
                        - - "06:47"
                          - 0
                        - - "06:48"
                          - 0
                        - - "06:49"
                          - 0
                        - - "06:50"
                          - 0
                        - - "06:51"
                          - 0
                        - - "06:52"
                          - 0
                        - - "06:53"
                          - 0
                        - - "06:54"
                          - 0
                        - - "06:55"
                          - 0
                        - - "06:56"
                          - 0
                        - - "06:57"
                          - 0
                        - - "06:58"
                          - 0
                        - - "06:59"
                          - 0
                        - - "07:00"
                          - 0
                        - - "07:01"
                          - 0
                        - - "07:02"
                          - 0
                        - - "07:03"
                          - 0
                        - - "07:04"
                          - 0
                        - - "07:05"
                          - 0
                        - - "07:06"
                          - 0
                        - - "07:07"
                          - 0
                        - - "07:08"
                          - 0
                        - - "07:09"
                          - 0
                        - - "07:10"
                          - 0
                        - - "07:11"
                          - 0
                        - - "07:12"
                          - 0
                        - - "07:13"
                          - 0
                        - - "07:14"
                          - 0
                        - - "07:15"
                          - 0
                        - - "07:16"
                          - 0
                        - - "07:17"
                          - 0
                        - - "07:18"
                          - 0
                        - - "07:19"
                          - 0
                        - - "07:20"
                          - 0
                        - - "07:21"
                          - 0
                        - - "07:22"
                          - 0
                        - - "07:23"
                          - 0
                        - - "07:24"
                          - 0
                        - - "07:25"
                          - 0
                        - - "07:26"
                          - 0
                        - - "07:27"
                          - 0
                        - - "07:28"
                          - 0
                        - - "07:29"
                          - 0
                        - - "07:30"
                          - 0
                        - - "07:31"
                          - 0
                        - - "07:32"
                          - 0
                        - - "07:33"
                          - 0
                        - - "07:34"
                          - 0
                        - - "07:35"
                          - 0
                        - - "07:36"
                          - 0
                    sms:
                      rx:
                        - - "06:38"
                          - 0
                        - - "06:39"
                          - 0
                        - - "06:40"
                          - 0
                        - - "06:41"
                          - 0
                        - - "06:42"
                          - 0
                        - - "06:43"
                          - 0
                        - - "06:44"
                          - 0
                        - - "06:45"
                          - 0
                        - - "06:46"
                          - 0
                        - - "06:47"
                          - 0
                        - - "06:48"
                          - 0
                        - - "06:49"
                          - 0
                        - - "06:50"
                          - 0
                        - - "06:51"
                          - 0
                        - - "06:52"
                          - 0
                        - - "06:53"
                          - 0
                        - - "06:54"
                          - 0
                        - - "06:55"
                          - 0
                        - - "06:56"
                          - 0
                        - - "06:57"
                          - 0
                        - - "06:58"
                          - 0
                        - - "06:59"
                          - 0
                        - - "07:00"
                          - 0
                        - - "07:01"
                          - 0
                        - - "07:02"
                          - 0
                        - - "07:03"
                          - 0
                        - - "07:04"
                          - 0
                        - - "07:05"
                          - 0
                        - - "07:06"
                          - 0
                        - - "07:07"
                          - 0
                        - - "07:08"
                          - 0
                        - - "07:09"
                          - 0
                        - - "07:10"
                          - 0
                        - - "07:11"
                          - 0
                        - - "07:12"
                          - 0
                        - - "07:13"
                          - 0
                        - - "07:14"
                          - 0
                        - - "07:15"
                          - 0
                        - - "07:16"
                          - 0
                        - - "07:17"
                          - 0
                        - - "07:18"
                          - 0
                        - - "07:19"
                          - 0
                        - - "07:20"
                          - 0
                        - - "07:21"
                          - 0
                        - - "07:22"
                          - 0
                        - - "07:23"
                          - 0
                        - - "07:24"
                          - 0
                        - - "07:25"
                          - 0
                        - - "07:26"
                          - 0
                        - - "07:27"
                          - 0
                        - - "07:28"
                          - 0
                        - - "07:29"
                          - 0
                        - - "07:30"
                          - 0
                        - - "07:31"
                          - 0
                        - - "07:32"
                          - 0
                        - - "07:33"
                          - 0
                        - - "07:34"
                          - 0
                        - - "07:35"
                          - 0
                        - - "07:36"
                          - 0
                      tx:
                        - - "06:38"
                          - 0
                        - - "06:39"
                          - 0
                        - - "06:40"
                          - 0
                        - - "06:41"
                          - 0
                        - - "06:42"
                          - 0
                        - - "06:43"
                          - 0
                        - - "06:44"
                          - 0
                        - - "06:45"
                          - 0
                        - - "06:46"
                          - 0
                        - - "06:47"
                          - 0
                        - - "06:48"
                          - 0
                        - - "06:49"
                          - 0
                        - - "06:50"
                          - 0
                        - - "06:51"
                          - 0
                        - - "06:52"
                          - 0
                        - - "06:53"
                          - 0
                        - - "06:54"
                          - 0
                        - - "06:55"
                          - 0
                        - - "06:56"
                          - 0
                        - - "06:57"
                          - 0
                        - - "06:58"
                          - 0
                        - - "06:59"
                          - 0
                        - - "07:00"
                          - 0
                        - - "07:01"
                          - 0
                        - - "07:02"
                          - 0
                        - - "07:03"
                          - 0
                        - - "07:04"
                          - 0
                        - - "07:05"
                          - 0
                        - - "07:06"
                          - 0
                        - - "07:07"
                          - 0
                        - - "07:08"
                          - 0
                        - - "07:09"
                          - 0
                        - - "07:10"
                          - 0
                        - - "07:11"
                          - 0
                        - - "07:12"
                          - 0
                        - - "07:13"
                          - 0
                        - - "07:14"
                          - 0
                        - - "07:15"
                          - 0
                        - - "07:16"
                          - 0
                        - - "07:17"
                          - 0
                        - - "07:18"
                          - 0
                        - - "07:19"
                          - 0
                        - - "07:20"
                          - 0
                        - - "07:21"
                          - 0
                        - - "07:22"
                          - 0
                        - - "07:23"
                          - 0
                        - - "07:24"
                          - 0
                        - - "07:25"
                          - 0
                        - - "07:26"
                          - 0
                        - - "07:27"
                          - 0
                        - - "07:28"
                          - 0
                        - - "07:29"
                          - 0
                        - - "07:30"
                          - 0
                        - - "07:31"
                          - 0
                        - - "07:32"
                          - 0
                        - - "07:33"
                          - 0
                        - - "07:34"
                          - 0
                        - - "07:35"
                          - 0
                        - - "07:36"
                          - 0
              example:
                last_month:
                  data:
                    endpoint_id: 166
                    month: "2019-11-01T00:00:00.000Z"
                    volume: "29.166235"
                    volume_tx: "5.577229"
                    volume_rx: "23.589006"
                    traffic_type_id: 5
                    last_updated: "2019-11-30T14:56:25.000Z"
                    cost: 6.10483935
                    currency_id: 1
                    id: 311
                    traffic_type:
                      description: Data
                      unit: MB
                      id: 5
                    currency:
                      code: EUR
                      symbol: €
                      id: 1
                  sms:
                    endpoint_id: 166
                    month: "2019-11-01T00:00:00.000Z"
                    volume: "51.000000"
                    volume_tx: "36.000000"
                    volume_rx: "15.000000"
                    traffic_type_id: 6
                    last_updated: "2019-11-26T10:52:42.000Z"
                    cost: "3.3200000000"
                    currency_id: 1
                    id: 312
                    traffic_type:
                      description: SMS
                      unit: SMS
                      id: 6
                    currency:
                      code: EUR
                      symbol: €
                      id: 1
                current_month:
                  data:
                    endpoint_id: 166
                    month: "2019-12-01T00:00:00.000Z"
                    volume: "0.848157"
                    volume_tx: "0.172846"
                    volume_rx: "0.675311"
                    traffic_type_id: 5
                    last_updated: "2019-12-01T15:12:53.000Z"
                    cost: "0.2120392500"
                    currency_id: 1
                    id: 435
                    traffic_type:
                      description: Data
                      unit: MB
                      id: 5
                    currency:
                      code: EUR
                      symbol: €
                      id: 1
                  sms:
                    endpoint_id: 166
                    month: "2019-12-01T00:00:00.000Z"
                    volume: "3.000000"
                    volume_tx: "2.000000"
                    volume_rx: "1.000000"
                    traffic_type_id: 6
                    last_updated: "2019-12-01T14:20:42.000Z"
                    cost: "0.1700000000"
                    currency_id: 1
                    id: 439
                    traffic_type:
                      description: SMS
                      unit: SMS
                      id: 6
                    currency:
                      code: EUR
                      symbol: €
                      id: 1
                last_hour:
                  data:
                    rx:
                      - - "06:38"
                        - 0
                      - - "06:39"
                        - 0
                      - - "06:40"
                        - 0
                      - - "06:41"
                        - 0
                      - - "06:42"
                        - 0
                      - - "06:43"
                        - 0
                      - - "06:44"
                        - 0
                      - - "06:45"
                        - 0
                      - - "06:46"
                        - 0
                      - - "06:47"
                        - 0
                      - - "06:48"
                        - 0
                      - - "06:49"
                        - 0
                      - - "06:50"
                        - 0
                      - - "06:51"
                        - 0
                      - - "06:52"
                        - 0
                      - - "06:53"
                        - 0
                      - - "06:54"
                        - 0
                      - - "06:55"
                        - 0
                      - - "06:56"
                        - 0
                      - - "06:57"
                        - 0
                      - - "06:58"
                        - 0
                      - - "06:59"
                        - 0
                      - - "07:00"
                        - 0
                      - - "07:01"
                        - 0
                      - - "07:02"
                        - 0
                      - - "07:03"
                        - 0
                      - - "07:04"
                        - 0
                      - - "07:05"
                        - 0
                      - - "07:06"
                        - 0
                      - - "07:07"
                        - 0
                      - - "07:08"
                        - 0
                      - - "07:09"
                        - 0
                      - - "07:10"
                        - 0
                      - - "07:11"
                        - 0
                      - - "07:12"
                        - 0
                      - - "07:13"
                        - 0
                      - - "07:14"
                        - 0
                      - - "07:15"
                        - 0
                      - - "07:16"
                        - 0
                      - - "07:17"
                        - 0
                      - - "07:18"
                        - 0
                      - - "07:19"
                        - 0
                      - - "07:20"
                        - 0
                      - - "07:21"
                        - 0
                      - - "07:22"
                        - 0
                      - - "07:23"
                        - 0
                      - - "07:24"
                        - 0
                      - - "07:25"
                        - 0
                      - - "07:26"
                        - 0
                      - - "07:27"
                        - 0
                      - - "07:28"
                        - 0
                      - - "07:29"
                        - 0
                      - - "07:30"
                        - 0
                      - - "07:31"
                        - 0
                      - - "07:32"
                        - 0
                      - - "07:33"
                        - 0
                      - - "07:34"
                        - 0
                      - - "07:35"
                        - 0
                      - - "07:36"
                        - 0
                    tx:
                      - - "06:38"
                        - 0
                      - - "06:39"
                        - 0
                      - - "06:40"
                        - 0
                      - - "06:41"
                        - 0
                      - - "06:42"
                        - 0
                      - - "06:43"
                        - 0
                      - - "06:44"
                        - 0
                      - - "06:45"
                        - 0
                      - - "06:46"
                        - 0
                      - - "06:47"
                        - 0
                      - - "06:48"
                        - 0
                      - - "06:49"
                        - 0
                      - - "06:50"
                        - 0
                      - - "06:51"
                        - 0
                      - - "06:52"
                        - 0
                      - - "06:53"
                        - 0
                      - - "06:54"
                        - 0
                      - - "06:55"
                        - 0
                      - - "06:56"
                        - 0
                      - - "06:57"
                        - 0
                      - - "06:58"
                        - 0
                      - - "06:59"
                        - 0
                      - - "07:00"
                        - 0
                      - - "07:01"
                        - 0
                      - - "07:02"
                        - 0
                      - - "07:03"
                        - 0
                      - - "07:04"
                        - 0
                      - - "07:05"
                        - 0
                      - - "07:06"
                        - 0
                      - - "07:07"
                        - 0
                      - - "07:08"
                        - 0
                      - - "07:09"
                        - 0
                      - - "07:10"
                        - 0
                      - - "07:11"
                        - 0
                      - - "07:12"
                        - 0
                      - - "07:13"
                        - 0
                      - - "07:14"
                        - 0
                      - - "07:15"
                        - 0
                      - - "07:16"
                        - 0
                      - - "07:17"
                        - 0
                      - - "07:18"
                        - 0
                      - - "07:19"
                        - 0
                      - - "07:20"
                        - 0
                      - - "07:21"
                        - 0
                      - - "07:22"
                        - 0
                      - - "07:23"
                        - 0
                      - - "07:24"
                        - 0
                      - - "07:25"
                        - 0
                      - - "07:26"
                        - 0
                      - - "07:27"
                        - 0
                      - - "07:28"
                        - 0
                      - - "07:29"
                        - 0
                      - - "07:30"
                        - 0
                      - - "07:31"
                        - 0
                      - - "07:32"
                        - 0
                      - - "07:33"
                        - 0
                      - - "07:34"
                        - 0
                      - - "07:35"
                        - 0
                      - - "07:36"
                        - 0
                  sms:
                    rx:
                      - - "06:38"
                        - 0
                      - - "06:39"
                        - 0
                      - - "06:40"
                        - 0
                      - - "06:41"
                        - 0
                      - - "06:42"
                        - 0
                      - - "06:43"
                        - 0
                      - - "06:44"
                        - 0
                      - - "06:45"
                        - 0
                      - - "06:46"
                        - 0
                      - - "06:47"
                        - 0
                      - - "06:48"
                        - 0
                      - - "06:49"
                        - 0
                      - - "06:50"
                        - 0
                      - - "06:51"
                        - 0
                      - - "06:52"
                        - 0
                      - - "06:53"
                        - 0
                      - - "06:54"
                        - 0
                      - - "06:55"
                        - 0
                      - - "06:56"
                        - 0
                      - - "06:57"
                        - 0
                      - - "06:58"
                        - 0
                      - - "06:59"
                        - 0
                      - - "07:00"
                        - 0
                      - - "07:01"
                        - 0
                      - - "07:02"
                        - 0
                      - - "07:03"
                        - 0
                      - - "07:04"
                        - 0
                      - - "07:05"
                        - 0
                      - - "07:06"
                        - 0
                      - - "07:07"
                        - 0
                      - - "07:08"
                        - 0
                      - - "07:09"
                        - 0
                      - - "07:10"
                        - 0
                      - - "07:11"
                        - 0
                      - - "07:12"
                        - 0
                      - - "07:13"
                        - 0
                      - - "07:14"
                        - 0
                      - - "07:15"
                        - 0
                      - - "07:16"
                        - 0
                      - - "07:17"
                        - 0
                      - - "07:18"
                        - 0
                      - - "07:19"
                        - 0
                      - - "07:20"
                        - 0
                      - - "07:21"
                        - 0
                      - - "07:22"
                        - 0
                      - - "07:23"
                        - 0
                      - - "07:24"
                        - 0
                      - - "07:25"
                        - 0
                      - - "07:26"
                        - 0
                      - - "07:27"
                        - 0
                      - - "07:28"
                        - 0
                      - - "07:29"
                        - 0
                      - - "07:30"
                        - 0
                      - - "07:31"
                        - 0
                      - - "07:32"
                        - 0
                      - - "07:33"
                        - 0
                      - - "07:34"
                        - 0
                      - - "07:35"
                        - 0
                      - - "07:36"
                        - 0
                    tx:
                      - - "06:38"
                        - 0
                      - - "06:39"
                        - 0
                      - - "06:40"
                        - 0
                      - - "06:41"
                        - 0
                      - - "06:42"
                        - 0
                      - - "06:43"
                        - 0
                      - - "06:44"
                        - 0
                      - - "06:45"
                        - 0
                      - - "06:46"
                        - 0
                      - - "06:47"
                        - 0
                      - - "06:48"
                        - 0
                      - - "06:49"
                        - 0
                      - - "06:50"
                        - 0
                      - - "06:51"
                        - 0
                      - - "06:52"
                        - 0
[...]
